<a href="https://colab.research.google.com/github/gimah/Allan/blob/master/practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# While loop

In [ ]:
x = 50
while x <10:
    print(x)

    x += 2
else:
    print("The answer for the question is none")

The answer for the question is none

In [ ]:
i=[1,2,3]

for ele in i:
    pass

print("do anything")

do anything

In [ ]:
mystring="Elephantiasis"

In [ ]:
for i in mystring:
    if i=='a':
        break
    print(i)

E
l
e
p
h

In [ ]:
x = 0

while x <10:
    if x==5:
        break
    print(x)
    x += 1

0
1
2
3
4

In [ ]:
for i in enumerate('abc'):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [ ]:
li1=[1,2,3,4]
li2=[5,6,7,8]

list(zip(li1,li2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
from random import shuffle

In [ ]:
l1=[10,20,40,30,80,100]

In [ ]:
shuffle(l1)

In [ ]:
l1

[30, 80, 20, 10, 40, 100]

In [ ]:
from random import randint

In [ ]:
randint(2,100)

42

In [ ]:
mystring ="Hello world"

In [ ]:
my = []
for letter in mystring:
    my.append(letter)

In [ ]:
my

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
[num*2 for num in range(0,20)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
[num for num in 'wordList' if num.split() ]

['w', 'o', 'r', 'd', 'L', 'i', 's', 't']

In [ ]:
for a in 'wordlist':
    if a.split():
     print(a)

w
o
r
d
l
i
s
t

In [ ]:
[num for num in range(0,20) if num%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
celcius = [0,32,40,50]

In [ ]:
fahreheit = []

for temp in celcius:
    fahreheit.append((9/5)*temp + 32)

In [ ]:
fahreheit

[32.0, 89.6, 104.0, 122.0]

In [ ]:
fahreheit=[(9/5*temp)+32 for temp in celcius]

In [ ]:
fahreheit

[32.0, 89.6, 104.0, 122.0]

In [ ]:
'mykey' in {'mykey':245}

True

In [ ]:
d = {'mykey':245}

In [ ]:
245 in d.values()

True

In [ ]:
2 in [2,3,5,7]

True

In [ ]:
max([2,3,4,5])

5

In [ ]:
mystring="The wing of the gospel is strong for all"

for ele in mystring.split():
    print(ele)

The
wing
of
the
gospel
is
strong
for
all

In [ ]:
element = [2,5,9,10,15]
li=[]

for i in element:
    li.append(i**2)

In [ ]:
li

[4, 25, 81, 100, 225]

In [ ]:
mylist =[1,2,3,4,5,6]

In [ ]:
mylist.insert(2,10)

In [ ]:
mylist

[1, 2, 10, 3, 4, 5, 6]

# Fibonnacci Series

In [ ]:
a, b = 0, 1

while a< 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [ ]:
x = int(input("Please enter the integer: "))

if x < 0:
    x=0
    print("Negative changed to zero")
elif x ==0:
    print("Zero")
elif x==1:
    print("Single")
else:
    print("More")

Please enter the integer: 42
More

In [ ]:
words = ['cats','elephants','lion']

for word in words:
    print(word, len(word))

cats 4
elephants 9
lion 4

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n%x==0:
            #print(n, '=', x, '*',n//x)
            print(x,'*',n//x,'=',n)

2 * 2 = 4
2 * 3 = 6
3 * 2 = 6
2 * 4 = 8
4 * 2 = 8
3 * 3 = 9

In [ ]:
def name_of_function(name):
    return "Hello " + name

In [ ]:
name_of_function("Henry")

'Hello Henry'

In [ ]:
def my_func(num1):
    return num1%2==0

In [ ]:
my_func(81)

False

In [ ]:
def check_even_list(number):
    for n in number:
        if n%2==0:
            return True
        else:
             pass
    return False

In [ ]:
check_even_list([1,3,5,9])

False

In [ ]:
check_even_list([2,5,8,7])

True

In [ ]:
lst =[1,2,3,4]

In [ ]:
lst.append(5)

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
def check_even_num(number_list):

    number = []
    for num in number_list:
        if num%2==0:
            number.append(num)
    return number

In [ ]:
check_even_num([2,3,5,7,8,9])

[2, 8]

## Tuples unpacking

In [ ]:
sales_items =[('woodrobe',500),('television',200),('bed',100)]

In [ ]:
def sales_check(sales_items):
    sales_max = 0
    items =''
    for item,price in sales_items:
        if price > sales_max:
            sales_max = price
            items = item
        else:
            pass
    return (sales_max,items)

In [ ]:
sales_check(sales_items)

(500, 'woodrobe')

In [ ]:
result = sales_check(sales_items)

In [ ]:
result

(500, 'woodrobe')

In [ ]:
name,price,location = sales_check(sales_items)

ValueError: ignored

In [ ]:
def myfunc(*args):
    return sum(args)

In [ ]:
myfunc(4,5,8,9,10)

36

In [ ]:
def myfunc1(*args):
    for items in args:
        print(items)

In [ ]:
myfunc1(5,8,9,7,10)

5
8
9
7
10

In [ ]:
def myfunc2(**kwargs):
    print(kwargs)
    if 'fruits' in kwargs:
        print(f'my fruits of choice is {kwargs}')
    else:
        print('I did not have one')

In [ ]:
myfunc2(fruits='apple', veggie='tomato')

{'fruits': 'apple', 'veggie': 'tomato'}
my fruits of choice is {'fruits': 'apple', 'veggie': 'tomato'}

In [ ]:
def myfunc3(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like to have {}  {}'.format(args[0], kwargs['fruits']))

In [ ]:
myfunc3(20,10,11, food='salad',veggie='garden eggs',fruits='mangoes')

(20, 10, 11)
{'food': 'salad', 'veggie': 'garden eggs', 'fruits': 'mangoes'}
I would like to have 20  mangoes

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        # Both are even
        if a<b:
            result = a
        else:
            result = b
            # One or Both are odd
    else:
        if a>b:
            result = a
        else:
            result = b
    return result

In [ ]:
lesser_of_two_evens(3,7)

7

In [ ]:
def lesser_of_two_even(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
lesser_of_two_even(5,7)

7

In [ ]:
def animal_crackers(text):
    wordlist = text.lower().split()
    

    first = wordlist[0]
    second = wordlist[1]
    return first[0]==second[0]

In [ ]:
animal_crackers('Animal Crackers')

False

In [ ]:
animal_crackers('lovers Lonely')

['lovers', 'lonely']

True

In [ ]:
def makes_twenty(n1,n2):
    if n1 + n2==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(40,10)

False

In [ ]:
def old_macdonald(name):
    first_letter = name[0].upper()
    middle_letter = name[1:3]
    middle_letter1 = name[3].upper()
    last_letter = name[4:]
    
    return first_letter+middle_letter+middle_letter1+last_letter

In [ ]:
old_macdonald('macdonald')

'MacDonald'

In [ ]:
def macdonald(name):
    first_half = name[:3].capitalize()
    second_half = name[3:].capitalize()
    return first_half+second_half

In [ ]:
macdonald('macdonald')

'MacDonald'

In [ ]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [ ]:
master_yoda('I am a joyful winner')

'winner joyful a am I'

In [ ]:
master_yoda('we are ready come home')

'home come ready are we'

In [ ]:
def almost_there(n):
    return(abs(100-n)<=10) or (abs(200-n)<=10)

In [ ]:
almost_there(50)

False

In [ ]:
almost_there(150)

False

In [ ]:
almost_there(205)

True

Examples

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [ ]:
def find_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [ ]:
find_33([1,3,3,1])

True

In [ ]:
find_33([3,1,3])

False

# Paper Doll Problem

In [ ]:
def paper_doll(text):
    result = ''

    for char in text:
        result += char*3
    return result

In [ ]:
paper_doll('Missippi')

'MMMiiissssssiiippppppiii'

In [ ]:
def black_jack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    return 'BUST'

In [ ]:
black_jack(5,6,7)

18

In [ ]:
black_jack(9,9,9)

'BUST'

In [ ]:
black_jack(9,9,11)

19

In [ ]:
def summer_69(arr):
    total = 0
    add = True

    for num in arr:
        while add:
            if num !=6:
                total +=num
                break
            else:
                add=False
        while not add:
            if num !=9:
                break
            else:
                add=True
                break
    return total

In [ ]:
summer_69([1,3,5])

9

In [ ]:
summer_69([4,5,6,7,8,9])

9

In [ ]:
summer_69([2,1,6,9,11])

14

In [ ]:
x = 0

while x<=10:
    print(f'The answer for x is {x}')

    x += 1

The answer for x is 0
The answer for x is 1
The answer for x is 2
The answer for x is 3
The answer for x is 4
The answer for x is 5
The answer for x is 6
The answer for x is 7
The answer for x is 8
The answer for x is 9
The answer for x is 10

In [ ]:
def spy_game(num):

    code =[0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    for nums in num:
        if nums == code[0]:
            code.pop(0)
    return len(code)==1

In [ ]:
spy_game([1,2,2,4,0,0,7,5])

True

In [ ]:
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
spy_game([1,7,2,0,4,5,1])

False

In [ ]:
def count_primes(num):

    # check for 0 or 1 input

    primes = [2]
    x = 3
    if num < 2:
        # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):
            if x%y==0:
                x +=2
                break
        else:
            primes.append(x)
            x +=2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
count_primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

15

## Lambda, Filter,Map

In [ ]:
def func(num):
    return num**2

In [ ]:
li=[1,2,3,4,7]

In [ ]:
list(map(lambda num:num**2,li))

[1, 4, 9, 16, 49]

In [ ]:
def func(num):
    return num%2!=0

In [ ]:
list(filter(lambda num: num%2==0,li))

[2, 4]

In [ ]:
# Global

name ='This is a global string'
def greet():
    #Enclosing
    #name = 'Jojo'
    

    def hello():
        # Local
        #name = 'l am a local'
        print('hello '+ name)
    hello()

In [ ]:
greet()

hello This is a global string

In [ ]:
print([1,2,3])

[1, 2, 3]

In [ ]:
print([1,2,3])
print([1,2,3])
print([1,2,3])

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [ ]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [ ]:
example_row_1= ['','','']
example_row_2 = ['','','']
example_row_3 = ['','','']
display(example_row_1,example_row_2,example_row_3)

['', '', '']
['', '', '']
['', '', '']

In [ ]:
example_row_2[1]='X'

In [ ]:
display(example_row_1,example_row_2,example_row_3)

['', '', '']
['', 'X', '']
['', '', '']

In [ ]:
input('Enter value :')

Enter value :5

'5'